/* Header */

header {
    height: 80px;
    background-color: lightblue;
}

.lower-content {
    height: calc(100vh - 80px);
    background-color: #fff;
    overflow: auto;
    display: flex;
}

.main-header {
    height: 100px;
    background-color: red;
}

.sidebar {
    flex: 0 0 80px;
    background-color: #051E34;
    background-image: url('/img/sidebar-bg.png');
}

main {
    flex: 1 1 auto;
    background-color: greenyellow;
    overflow: auto;
}


.main-content {
    height: calc(100% - 100px);
    background-color: #F8F9FA;
    overflow: auto;
}

td img {
    width: 22px;
    border-radius: 50%;
}

.table i {
    border: 1px solid gray;
    margin-left: 10px;
}